<template>
  <div class="d-flex flex-column flex-root">
    <div
      class="login login-1 d-flex flex-column flex-lg-row flex-column-fluid bg-white"
      :class="{
        'login-signin-on': this.state === 'signin',
        'login-signup-on': this.state === 'signup',
        'login-forgot-on': this.state === 'forgot'
      }"
      id="kt_login"
    >
      <!--begin::Aside-->
      <div
        class="login-aside d-flex flex-column flex-row-auto"
        style="background-color: #B1D7ED;"
      >
        <div
          class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
          style="background-image: url(media/bg/merdeka.png); background-size: contain; width: 100%;"
        ></div>
      </div>
      <!--begin::Aside-->
      <!--begin::Content-->
      <div
        class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto"
      >
        <div class="d-flex flex-column-fluid flex-center">
          <!--begin::Signin-->
          <div class="login-form login-signin">
            <form
              class="form"
              id="kt_login_signin_form"
              novalidate="novalidate"
            >
              <div class="pb-13 pt-lg-0 pt-5">
                <a href="#" class="row d-flex justify-content-center mb-7">
                  <img
                    src="media/svg/custom/logo-kemendagri-letter.svg"
                    alt="alternative"
                    style="width: 100%;"
                  />
                </a>
              </div>
              <div class="row d-flex justify-content-center mb-12">
                <h1 class="text-dark font-weight-bold">Masuk</h1>
              </div>
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark"
                  >Username</label
                >
                <div
                  id="example-input-group-1"
                  label=""
                  label-for="example-input-1"
                >
                  <input
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                    type="text"
                    name="email"
                    ref="email"
                    placeholder="Username"
                    v-model="form.email"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between mt-n5">
                  <label class="font-size-h6 font-weight-bolder text-dark pt-5"
                    >Kata Sandi</label
                  >
                  <a
                    class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5 cursor-pointer"
                    id="kt_login_forgot"
                    @click="showForm('forgot')"
                    >Lupa kata sandi ?</a
                  >
                </div>
                <div
                  id="example-input-group-2"
                  label=""
                  label-for="example-input-2"
                >
                  <input
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                    type="password"
                    name="password"
                    ref="password"
                    placeholder="Kata Sandi"
                    v-model="form.password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="pb-lg-0 pb-5">
                <button
                  ref="kt_login_signin_submit"
                  class="btn btn-primary font-weight-bolder btn-block font-size-h6 px-15 py-4 my-3 mr-3"
                  style="background-color: #18328D; color: #FFF; border-color: #18328D"
                >
                  Masuk
                </button>
                <!--                <button
                  type="button"
                  id="kt_login_signup"
                  class="btn btn-outline-warning btn-block text-dark font-weight-bolder px-8 py-4 my-3 font-size-lg mt-5"
                  @click="showForm('signup')"
                >
                  Aktivasi Akun
                </button>-->
              </div>
            </form>
          </div>
          <!--end::Signin-->
          <!--begin::Signup-->
          <div class="login-form login-signup">
            <form
              class="form"
              novalidate="novalidate"
              id="kt_login_signup_form"
            >
              <div class="pb-13 pt-lg-0 pt-5">
                <h3
                  class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg"
                >
                  Aktivasi Akun
                </h3>
                <p class="text-muted font-weight-bold font-size-h4">
                  Masukkan data diri Anda untuk membuat akun.
                </p>
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="text"
                  placeholder="Nama Lengkap"
                  name="fullname"
                  ref="fullname"
                  v-model="register.full_name"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="email"
                  placeholder="Email"
                  name="email"
                  v-model="register.email"
                  ref="email"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="password"
                  placeholder="Kata Sandi"
                  name="password"
                  v-model="register.password"
                  ref="rpassword"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="password"
                  placeholder="Konfirmasi Kata Sandi"
                  name="cpassword"
                  v-model="register.cpassword"
                  ref="cpassword"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <label class="checkbox mb-0">
                  <input type="checkbox" name="agree" />
                  <span class="mr-2"></span>
                  Saya menyetujui
                  <a href="#" class="ml-2">syarat dan ketentuan yang berlaku.</a
                  >.
                </label>
              </div>
              <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
                <button
                  ref="kt_login_signup_submit"
                  class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
                >
                  Kirim
                </button>
                <button
                  type="button"
                  id="kt_login_signup_cancel"
                  class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
                  @click="showForm('signin')"
                >
                  Batal
                </button>
              </div>
            </form>
          </div>
          <!--end::Signup-->
          <!--begin::Forgot-->
          <div class="login-form login-forgot">
            <!--begin::Form-->
            <form
              class="form"
              novalidate="novalidate"
              id="kt_login_forgot_form"
              ref="kt_login_forgot_form"
            >
              <div class="pb-13 pt-lg-0 pt-5">
                <a href="#" class="row d-flex justify-content-center mb-7">
                  <img
                    src="media/svg/custom/logo-kemendagri-letter.svg"
                    style="width: 100%; margin-bottom: 20px"
                    alt="alternative"
                  />
                </a>
                <div class="row d-flex justify-content-center mb-7">
                  <h1 class="text-dark font-weight-bold">Lupa Kata Sandi</h1>
                </div>
              </div>
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5"
                  >Email</label
                >
                <div
                  id="input-group-lupa-password"
                  label=""
                  label-for="lupa-password"
                >
                  <input
                    id="email"
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                    type="text"
                    v-model="forgot.email"
                    placeholder="Email"
                    name="email"
                    ref="email"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group d-flex flex-wrap pb-lg-0">
                <button
                  ref="kt_login_forgot_submit"
                  class="btn btn-primary font-weight-bolder btn-block font-size-h6 px-15 py-4 my-3 mr-3"
                  style="background-color: #18328D; color: #FFF; border-color: #18328D"
                >
                  Kirim Email
                </button>
                <button
                  type="button"
                  id="kt_login_forgot_cancel"
                  class="btn btn-light-primary font-weight-bolder btn-block font-size-h6 px-15 py-4 my-3 mr-3"
                  @click="showForm('signin')"
                  style="background-color: #E5EAEE; color: #979797; border-color: #E5EAEE"
                >
                  Kembali
                </button>
              </div>
            </form>
          </div>
          <!--end::Forgot-->
        </div>
      </div>
      <!--end::Content-->
    </div>
  </div>
</template>

<!-- Load login custom page styles -->
<style lang="scss">
@import "@/assets/sass/pages/login/login-1.scss";
</style>

<script>
import formValidation from "@/assets/plugins/formvalidation/dist/es6/core/Core";

// FormValidation plugins
import Trigger from "@/assets/plugins/formvalidation/dist/es6/plugins/Trigger";
import Bootstrap from "@/assets/plugins/formvalidation/dist/es6/plugins/Bootstrap";
import SubmitButton from "@/assets/plugins/formvalidation/dist/es6/plugins/SubmitButton";

import KTUtil from "@/assets/js/components/util";
// import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import { handleErrors } from "@/core/appUtil/util";
import TokenService from "@/core/services/token.service";
import VueJwtDecode from "vue-jwt-decode";

const swalSuccess = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-save",
    cancelButton: "btn btn-delete"
  },
  buttonsStyling: false
});

export default {
  name: "login-1",
  data() {
    return {
      state: "signin",
      form: {
        email: "",
        password: ""
      },
      forgot: {
        email: ""
      },
      register: {
        full_name: "",
        email: "",
        password: "",
        cpassword: ""
      }
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },

    backgroundImage() {
      return process.env.BASE_URL + "media/bg/merdeka.png";
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/dashboard");
    }
  },
  mounted() {
    const signin_form = KTUtil.getById("kt_login_signin_form");
    // const signup_form = KTUtil.getById("kt_login_signup_form");
    const forgot_form = KTUtil.getById("kt_login_forgot_form");

    this.fv = formValidation(signin_form, {
      fields: {
        email: {
          validators: {
            notEmpty: {
              message: "Username harus diisi"
            },
            emailAddress: {
              message: "Email yang Anda masukkan tidak valid"
            }
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: "Kata Sandi harus diisi"
            }
          }
        }
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    this.fv2 = formValidation(forgot_form, {
      fields: {
        email: {
          validators: {
            notEmpty: {
              message: "Email harus diisi"
            },
            emailAddress: {
              message: "Email yang Anda masukkan tidak valid"
            }
          }
        }
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    // Form Login

    this.fv.on("core.form.valid", () => {
      let email = this.form.email;
      let password = this.form.password;

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signin_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      if (email && password) {
        this.$store.dispatch("auth/login", { email, password }).then(
          async data => {
            console.log("dari auth/login");
            console.log(data);
            localStorage.setItem("token", data.access_token);
            const parsed_token = VueJwtDecode.decode(data.access_token);
            const parsed_refresh_token = VueJwtDecode.decode(
              data.refresh_token
            );
            this.$store.commit("token/setToken", data.access_token);
            this.$store.commit("token/setParsedToken", parsed_token);
            this.$store.commit("token/setRefreshToken", data.refresh_token);
            this.$store.commit(
              "token/setParsedRefreshToken",
              parsed_refresh_token
            );
            if (parsed_token.role.id === 2) {
              this.$store.commit("token/setIsSuperAdmin", true);
            } else {
              this.$store.commit("token/setIsSuperAdmin", false);
            }
            submitButton.classList.remove(
              "spinner",
              "spinner-light",
              "spinner-right"
            );
            await this.$router.push({ name: "dashboard" });
          },
          error => {
            /*this.loading = false;
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();*/
            if (error.response.status === 404) {
              Swal.fire({
                title: "",
                text: "User tidak ditemukan",
                icon: "error",
                heightAuto: false
              });
              submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );
            } else {
              Swal.fire({
                title: "",
                text: "Email atau Kata sandi yang Anda masukkan salah",
                icon: "error",
                heightAuto: false
              });
              submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );
            }
          }
        );
      }
    });

    this.fv.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Silakan lengkapi data Anda!",
        icon: "error",
        confirmButtonColor: "#18328D",
        heightAuto: false
      });
    });

    // Form Forgot Password

    this.fv2.on("core.form.valid", () => {
      let res = this.forgot.email;
      let email = encodeURIComponent(res);

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_forgot_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      fetch(
        process.env.VUE_APP_URL_LOCAL +
          `/forgot-password/generate-code?email=${email}`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: "bearer " + TokenService.getLocalAccessToken()
          }
        }
      )
        .then(handleErrors)
        .then(response => response.json())
        .then(async data => {
          console.log(data);
          await swalSuccess.fire({
            title: "Berhasil",
            text:
              "Silakan cek email Anda untuk link konfirmasi lupa kata sandi",
            icon: "success",
            showCancelButton: false,
            confirmButtonColor: "#18328D",
            confirmButtonText: "OK"
          });
          submitButton.classList.remove(
            "spinner",
            "spinner-light",
            "spinner-right"
          );

          /*.catch(error => {
              console.log(error);
              Swal.fire({
                title: "Kesalahan",
                text: "Email tidak terdaftar",
                icon: "error",
                showCancelButton: false,
                confirmButtonText: "Kembali",
                confirmButtonColor: "#18328D"
              });
              submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );
            });*/
        })
        .catch(error => {
          console.log(error);
          Swal.fire({
            title: "Kesalahan",
            text: "Email tidak terdaftar",
            icon: "error",
            showCancelButton: false,
            confirmButtonText: "Kembali",
            confirmButtonColor: "#18328D"
          });
          submitButton.classList.remove(
            "spinner",
            "spinner-light",
            "spinner-right"
          );
        });
    });

    this.fv2.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Silakan lengkapi data Anda!",
        icon: "error",
        confirmButtonColor: "#18328D",
        heightAuto: false
      });
    });
  },
  methods: {
    showForm(form) {
      this.state = form;
      let form_name = "kt_login_" + form + "_form";
      KTUtil.animateClass(
        KTUtil.getById(form_name),
        "animate__animated animate__backInUp"
      );
    }
  }
};
</script>
