<template>
  <div class="col-md-12">
    <div class="card-body">
      <b-card
        header-bg-variant="primary"
        header-text-variant="white"
        bg-variant="default"
        align="center"
        style="filter: drop-shadow(0px 2px 14px rgba(0, 0, 0, 0.15)); border-radius: 10px;"
      >
        <!--        <div class="row d-flex justify-content-end" style="margin-bottom: 20px">
          <button
            class="btn btn-tambah-data"
            @click.prevent.stop="showModalAdd = true"
          >
            <i class="fa fa-plus-circle" style="color: #ffffff;"></i>Tambah data
          </button>
        </div>-->
        <div class="justify-content-between d-flex">
          <div class="d-flex">
            <b-form>
              <b-form-group id="input-group-3" label="" label-for="input-3">
                <b-form-select
                  id="input-3"
                  v-model="form.tahun"
                  style="background-color: #dae1ec"
                  @change="onSelectTahun"
                  :options="tahuns"
                >
                  <template #first>
                    <b-form-select-option :value="null" disabled
                      >Tahun:</b-form-select-option
                    >
                  </template>
                </b-form-select>
              </b-form-group>
            </b-form>
          </div>
        </div>
        <DxDataGrid
          :ref="dataGridRefKey"
          :data-source="dataSource"
          key-expr="id"
          :show-borders="true"
          :word-wrap-enabled="true"
          :column-auto-width="true"
          :remote-operations="true"
        >
          <DxFilterRow :visible="true" />
          <DxColumn
            data-field="tahun"
            caption="Tahun"
            :allow-filtering="false"
          />
          <DxColumn
            data-field="jenis_perundangan.name"
            caption="Jenis Produk Hukum"
            :allow-filtering="false"
          />
          <DxColumn
            data-field="judul"
            caption="Judul"
            :allow-filtering="false"
          />
          <DxColumn
            data-field="nama"
            caption="Nama Produk Hukum"
            :filter-operations="['contains']"
          />
          <DxColumn
            data-field="sinopsis"
            caption="Sinopsis"
            :allow-filtering="false"
          />
          <DxColumn
            :calculate-cell-value="downloadUrls"
            data-field="produk_path"
            caption="Download Produk"
            cell-template="cellTemplatePath"
            :allow-filtering="false"
          />
          <template #cellTemplatePath="{ data }">
            <div v-html="data.value"></div>
          </template>
          <DxColumn :width="100" type="buttons" caption="Aksi">
            <DxButton icon="fa fa-trash" hint="Hapus" :onClick="btnDelete" />
            <DxButton icon="fa fa-edit" hint="Edit" :onClick="btnEdit" />
          </DxColumn>
          <DxPaging :page-size="10" />
          <DxPager
            :visible="true"
            :show-page-size-selector="showPageSizeSelector"
            :allowed-page-sizes="pageSizes"
          />
        </DxDataGrid>
      </b-card>
      <!--   Modal Tambah Dokumentasi   -->

      <!--      <b-modal
        v-model="showModalAdd"
        hide-footer
        centered
        id="modal-tambah-dokumentasi"
      >
        <template #modal-header="{ close }">
          <h5 class="title-card-custom">Tambah Jenis Perundangan</h5>
        </template>
        <b-form @submit.stop.prevent="onSubmit">
          <b-form-group id="example-input-group-1" label-for="example-input-1">
            <template v-slot:label>
              Nama <span class="text-danger">*</span>
            </template>
            <b-form-input
              id="example-input-1"
              name="example-input-1"
              v-model="$v.form.name.$model"
              :state="validateState('name')"
              aria-describedby="input-1-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-1-live-feedback"
              >Nama harus diisi.
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            id="example-input-group-2"
            label="Icon"
            label-for="example-input-2"
          >
            <b-form-input
              id="example-input-2"
              name="example-input-2"
              v-model="form.icon"
            ></b-form-input>
          </b-form-group>
          <hr />
          <div class="d-flex justify-content-center">
            <button class="btn btn-delete mr-8" @click="resetForm()">
              Kembali
            </button>
            <button type="submit" class="btn btn-save">Simpan</button>
          </div>
        </b-form>
      </b-modal>-->

      <!--   Modal Edit Dokumentasi   -->

      <b-modal
        v-model="showModalEdit"
        hide-footer
        centered
        size="xl"
        id="modal-edit-dokumentasi"
      >
        <template #modal-header="{ close }">
          <h5 class="title-card-custom">Edit Dokumentasi</h5>
        </template>
        <b-form @submit.stop.prevent="onSubmitEdit">
          <b-form-group id="input-group-1" label="Tahun" label-for="year">
            <b-form-input
              id="year"
              v-model="formEdit.year"
              type="text"
              placeholder="Tahun"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Jenis Produk Hukum"
            label-for="jenis"
          >
            <b-form-select
              v-model="formEdit.type"
              :options="types"
              class="mb-3"
            >
              <template #first>
                <b-form-select-option :value="null" disabled
                  >-- Pilih salah satu --</b-form-select-option
                >
              </template>
            </b-form-select>

            <!--            <b-form-input
                id="jenis"
                v-model="form.jenis"
                placeholder="Masukkan jenis produk hukum"
                v-if="form.type === 'O'"
                v-show="form.type"
            ></b-form-input>-->
          </b-form-group>

          <b-form-group id="input-group-3" label="Judul" label-for="title">
            <b-form-input
              id="title"
              v-model="formEdit.judul"
              placeholder="Judul"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-4"
            label-for="product"
            label="Nama Produk Hukum"
          >
            <b-form-textarea
              id="textarea"
              v-model="formEdit.nama"
              placeholder="Nama Produk Hukum"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>

          <b-form-group
            id="input-group-5"
            label="Upload Produk"
            label-for="input-5"
          >
            <b-form-file
              placeholder="Pilih File"
              drop-placeholder="Drop file di sini..."
              accept=".pdf"
              browse-text="Cari"
              multiple
              :file-name-formatter="formatNames"
            ></b-form-file>
          </b-form-group>

          <b-form-group id="input-group-6" label="Sinopsis" label-for="input-6">
            <b-form-textarea
              id="sinopsis"
              v-model="formEdit.sinopsis"
              placeholder="Sinopsis"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
          <hr />
          <div class="d-flex justify-content-center">
            <button class="btn btn-delete mr-7" @click="resetFormEdit()">
              Batal
            </button>
            <button type="submit" class="btn btn-save">
              Simpan
            </button>
          </div>
        </b-form>
      </b-modal>
    </div>
  </div>
</template>

<script>
import {
  DxButton,
  DxColumn,
  DxDataGrid,
  DxFilterRow,
  DxPager,
  DxPaging
} from "devextreme-vue/data-grid";
import CustomStore from "devextreme/data/custom_store";
import { handleErrors, isNotEmpty } from "@/core/appUtil/util";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import "whatwg-fetch";
import Swal from "sweetalert2";

let tahunQ = "0";
const store = new CustomStore({
  key: "id",
  load: function(loadOptions) {
    let params = "?";
    [
      "skip",
      "take",
      "requireTotalCount",
      "requireGroupCount",
      "sort",
      // "filter",
      "totalSummary",
      "group",
      "groupSummary"
    ].forEach(function(i) {
      if (i in loadOptions && isNotEmpty(loadOptions[i])) {
        params += `${i}=${JSON.stringify(loadOptions[i])}&`;
      }
    });
    params = params.slice(0, -1);

    // search by name if exists
    if (tahunQ !== "0") {
      params += "&tahun=" + tahunQ;
    }

    if (
      Array.isArray(loadOptions["filter"]) &&
      loadOptions["filter"].length > 0 &&
      loadOptions["filter"][0] === "nama"
    ) {
      params += "&nama=" + loadOptions["filter"][2];
    }
    return fetch(process.env.VUE_APP_URL_LOCAL + `/dokumentasi${params}`)
      .then(response => response.json())
      .then(data => {
        return {
          data: data.data,
          totalCount: data.totalCount,
          summary: data.summary,
          groupCount: data.groupCount
        };
      })
      .catch(() => {
        throw "Data Loading Error";
      });
  }
});

const token = localStorage.getItem("token");

const dataGridRefKey = "my-data-grid";

const swalDelete = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-delete",
    cancelButton: "btn btn-cancel"
  },
  buttonsStyling: false
});

const swalSuccess = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-save",
    cancelButton: "btn btn-delete"
  },
  buttonsStyling: false
});

export default {
  mixins: [validationMixin],
  name: "MasterDokumentasi",
  components: {
    DxDataGrid,
    DxPaging,
    DxPager,
    DxColumn,
    DxButton,
    DxFilterRow
  },
  data() {
    return {
      showModalAdd: false,
      showModalEdit: false,
      isValid: false,
      form: {
        tahun: ""
      },
      formEdit: {
        year: "",
        judul: "",
        nama: "",
        sinopsis: "",
        others: "",
        path: null,
        jenis: "",
        type: null
      },
      types: [],
      tahuns: [
        {
          text: "Semua",
          value: "0"
        },
        {
          text: "2021",
          value: "2021"
        },
        {
          text: "2020",
          value: "2020"
        }
      ],
      dataSource: store,
      dataGridRefKey,
      showPageSizeSelector: true,
      pageSizes: [5, 10, 20],
      jenis_perundangan: {
        name: ""
      }
    };
  },
  validations: {
    form: {
      name: {
        required
      }
    }
  },
  computed: {
    dataGrid: function() {
      return this.$refs[dataGridRefKey].instance;
    }
  },
  mounted() {
    fetch(
      encodeURI(
        process.env.VUE_APP_URL_LOCAL + `/master/jenis-perundangan?take=100`
      ),
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "bearer " + token
        }
      }
    )
      .then(handleErrors)
      .then(response => response.json())
      .then(items => {
        const detailMenu = items.data;
        let selectedOptions;
        selectedOptions = [];
        detailMenu.map(i => {
          return selectedOptions.push({
            text: i.name,
            value: i.id
          });
        });
        this.types = selectedOptions;
      });
  },
  methods: {
    downloadUrls(rowData) {
      let paths = rowData.produk_path.split(";");
      let output = "";
      if (paths[0].length > 0) {
        output = `<ul>`;
        paths.forEach(path => {
          let fnames = path.split("/");
          let namaFile = fnames[1].substring(8);
          output += `<li><a href="${process.env.VUE_APP_FILE_DOWNLOAD_URL}/${path}">${namaFile}</a></li>`;
        });
        output += "</ul>";
      } else {
        output = `${rowData.produk_path}`;
      }
      return output;
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    validateStateFormEdit(name) {
      const { $dirty, $error } = this.$v.formEdit[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        name: null,
        icon: null
      };

      this.$nextTick(() => {
        this.$bvModal.hide("modal-tambah-dokumentasi");
      });
    },
    resetFormEdit() {
      this.formEdit = {
        year: "",
        judul: "",
        nama: "",
        sinopsis: "",
        others: "",
        path: null,
        jenis: "",
        type: null
      };

      this.$nextTick(() => {
        this.$bvModal.hide("modal-edit-dokumentasi");
      });
    },
    onSelectTahun() {
      tahunQ = this.form.tahun;
      this.refreshData();
    },
    onSubmitEdit() {
      let id = this.formEdit.id;
      console.log(id, "ID nih cuy");
      let data = {
        tahun: this.formEdit.year,
        nama: this.formEdit.nama,
        judul: this.formEdit.judul,
        sinopsis: this.formEdit.sinopsis,
        produk_path: this.formEdit.path,
        jenis_perundangan_id: this.formEdit.type
      };
      console.log(data);
      /*swalSuccess.fire({
        title: "Kirim Berkas",
        text: "Pastikan kembali data sudah sesuai.",
        icon: "warning",
        iconHtml: "?",
        showCancelButton: true,
        reverseButtons: true,
        confirmButtonColor: "#18328D",
        confirmButtonText: "Simpan",
        cancelButtonText: "Batal",
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return fetch(
            encodeURI(process.env.VUE_APP_URL_LOCAL + `/dokumentasi/${id}`),
            {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                Authorization: "bearer " + token
              },
              body: JSON.stringify(data)
            }
          )
            .then(handleErrors)
            .then(response => response.json())
            .then(data => {
              console.log(data);
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Data berhasil diubah",
                showConfirmButton: false,
                timer: 1500
              });
              this.resetFormEdit();
              this.refreshData();
            })
            .catch(error => {
              console.log(error);
              Swal.fire({
                title: "Kesalahan",
                text: "Gagal mengubah data",
                icon: "error",
                showCancelButton: false,
                confirmButtonText: "Kembali",
                confirmButtonColor: "#18328D"
              });
            });
        },
        allowOutsideClick: () => !Swal.isLoading()
      });*/
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      let data = {
        id: null,
        icon: this.form.icon,
        name: this.form.name
      };

      swalSuccess.fire({
        title: "Kirim Berkas",
        text: "Pastikan kembali data sudah sesuai.",
        icon: "warning",
        iconHtml: "?",
        showCancelButton: true,
        reverseButtons: true,
        confirmButtonColor: "#18328D",
        confirmButtonText: "Simpan",
        cancelButtonText: "Batal",
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return fetch(
            encodeURI(process.env.VUE_APP_URL_LOCAL + `/dokumentasi`),
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: "bearer " + token
              },
              body: JSON.stringify(data)
            }
          )
            .then(handleErrors)
            .then(response => response.json())
            .then(data => {
              console.log(data);
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Data berhasil ditambah",
                showConfirmButton: false,
                timer: 1500
              });
              this.resetForm();
              this.refreshData();
            })
            .catch(error => {
              console.log(error);
              Swal.fire({
                title: "Kesalahan",
                text: "Data yang ditambah sudah ada",
                icon: "error",
                showCancelButton: false,
                confirmButtonText: "Kembali",
                confirmButtonColor: "#18328D"
              });
            });
        },
        allowOutsideClick: () => !Swal.isLoading()
      });
    },
    refreshData() {
      this.dataGrid.refresh();
    },
    btnDelete(e) {
      let id = e.row.data.id;
      swalDelete.fire({
        text: "Yakin ingin hapus data?",
        icon: "warning",
        iconHtml: "?",
        showCancelButton: true,
        confirmButtonText: "Hapus",
        cancelButtonText: "Batal",
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return fetch(
            encodeURI(process.env.VUE_APP_URL_LOCAL + `/dokumentasi/${id}`),
            {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                Authorization: "bearer " + token
              }
            }
          )
            .then(handleErrors)
            .then(response => response.json())
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.log(error);
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Data berhasil dihapus",
                showConfirmButton: false,
                timer: 1500
              });
              this.refreshData();
            });
        },
        allowOutsideClick: () => !Swal.isLoading()
      });
    },
    btnEdit(e) {
      const data = e.row.data;
      console.log(data.produk_path);
      this.formEdit.year = data.tahun;
      this.formEdit.nama = data.nama;
      this.formEdit.judul = data.judul;
      this.formEdit.id = data.id;
      this.formEdit.sinopsis = data.sinopsis;
      this.formEdit.jenis = data.jenis;
      this.formEdit.path = data.produk_path;
      this.formEdit.type = data.jenis_perundangan_id;
      this.$root.$emit("bv::show::modal", "modal-edit-dokumentasi", e.row.data);
    },
    formatNames(files) {
      return files.length === 1
        ? files[0].name
        : `${files.length} file terpilih`;
    }
  }
};
</script>
