<template>
  <div class="card card-custom gutter-b card-stretch">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark"
          >Daftar Produk Hukum</span
        >
      </h3>
    </div>
    <div class="card-body pt-2 pb-0">
      <b-table
        borderless
        hover
        head-variant="light"
        busy.sync="isBusy"
        :items="items"
        :fields="fields"
        id="myTable"
        ref="myTable"
        show-empty
      >
        <template slot="empty">
          <div v-if="isBusy" class="text-center">
            <b-spinner class="align-middle"></b-spinner>
          </div>
          <div v-else class="text-center">
            Tidak ada data yang ditampilkan
          </div>
        </template>
        <template #cell(aksi)="row" class="mr-1 align-middle">
          <b-button
            style="background-color: #9DD0FF; color: #18328D; font-weight: bold"
            @click="onClickView(row.item, row.button)"
            >Lihat</b-button
          >
        </template>
      </b-table>
      <!--      <b-pagination
        pills
        align="center"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="myTable"
      ></b-pagination>-->
    </div>
  </div>
</template>

<script>
import axios from "axios";
// const token = localStorage.getItem("token");
export default {
  name: "TabelProdukHukum",
  data() {
    return {
      currentPage: 1,
      perPage: 5,
      rows: 4,
      isBusy: false,
      fields: [
        {
          key: "judul",
          sortable: true
        },
        {
          key: "tahun",
          sortable: true
        },
        {
          key: "aksi",
          sortable: false
        }
      ],
      items: []
    };
  },
  mounted() {
    this.isBusy = true;
    axios.get(process.env.VUE_APP_URL_LOCAL + `/dokumentasi`).then(items => {
      this.items = items.data.data;
      this.isBusy = false;
    });
  },
  methods: {
    rowClass(item, type) {
      if (!item || type === "row") return "vert-aligned";
    },
    onClickView(item) {
      this.$router.push({ name: "DetailDokumentasi", params: { item } });
    }
  }
};
</script>
