<template>
  <div class="card card-custom gutter-b card-stretch">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark"
          >Penanganan Advokasi</span
        >
        <!--        <span class="text-dark-50 mt-3 font-weight-bold font-size-sm"
          >Kasus Hukum yang ditangani Tahun 2019 : 4 Kasus</span
        >-->
      </h3>
    </div>
    <div class="card-body pt-2 pb-0">
      <b-table
        borderless
        hover
        head-variant="light"
        responsive
        :items="items"
        :fields="fields"
        show-empty
      >
        <template slot="empty">
          <div v-if="isBusy" class="text-center">
            <b-spinner class="align-middle"></b-spinner>
          </div>
          <div v-else class="text-center">
            Tidak ada data yang ditampilkan
          </div>
        </template>
        <template #cell(aksi)="row" class="mr-1 align-middle">
          <b-button
            style="background-color: #9DD0FF; color: #18328D; font-weight: bold"
            >Lihat</b-button
          >
        </template>
      </b-table>
      <b-pagination
        pills
        align="center"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "TableDashboard",
  data() {
    return {
      currentPage: 1,
      perPage: 5,
      isBusy: false,
      fields: [
        {
          key: "perkara",
          sortable: true
        },
        {
          key: "kasus_hukum",
          sortable: true
        },
        {
          key: "materi",
          sortable: true
        },
        {
          key: "direktorat.name",
          label: "Pemrakarsa",
          sortable: true
        },
        {
          key: "tanggal",
          sortable: true,
          formatter: value => {
            return moment(value).format("DD-MM-YYYY");
          }
        }
        /*{
          key: "aksi",
          sortable: false
        }*/
      ],
      items: []
    };
  },
  computed: {
    rows() {
      return this.items.length;
    }
  },
  mounted() {
    this.isBusy = true;
    this.$store.dispatch("getListAdvocacy").then(res => {
      this.$nextTick(() => {
        // console.log(res.data);
        let arr = res.data;
        this.items = res.data.data;
        for (let i = 0; i < arr.length; ++i) {
          console.log(arr[i]);
        }
        this.isBusy = false;
      });
    });
  },
  methods: {
    rowClass(item, type) {
      if (!item || type === "row") return "vert-aligned";
    }
  }
};
</script>
