.title-card {
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.warna {
    color: #B8DAFC;
}

.btn-tambah-data {
    background: #0A65FF;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    margin-right: 49px;
}

.btn-tambah-data:hover {
    background: #3851ab;
    color: #ffffff;
}

.btn-submit {
    background: #18328d;
    border-radius: 3px;
    color: #ffffff;
}

.btn-submit:hover {
    background: #3851ab;
    color: #ffffff;
}

.btn-download {
    background: #18328d;
    border-radius: 5px;
    color: #ffffff;
}

.btn-download:hover {
    background: #3851ab;
    color: #ffffff;
}

.btn-ubah {
    background: #E5EAEE;
    border-radius: 3px;
    color: #464E5F;
}

.btn-ubah:hover {
    background: #d3d7d9;
    color: #464E5F;
}

.title-card-custom {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #464E5F;
}

.btn-cari {
    background: #f2cf17;
    border-radius: 5px;
    padding: 8px 18px;
}

.btn-cancel {
    width: 99px;
    height: 36px;
    background: #E31A1A;
    border-radius: 3px;
    color: #ffffff;
}

.btn-cancel:hover {
    background: #E94747;
    color: #ffffff;
}

.btn-delete {
    width: 99px;
    height: 36px;
    background: #ffffff;
    border-color: #18328D;
    color: #18328D;
    border-radius: 3px;
}

.btn-delete:hover {
    background: #DAE1EC;
    border-color: #18328D;
    color: #070f2d;
    border-radius: 3px;
}

.btn-save {
    width: 99px;
    height: 36px;
    background: #18328d;
    border-radius: 3px;
    color: #ffffff;
}

.btn-save:hover {
    background: #3851ab;
    color: #ffffff;
}