<template>
  <div>
    <div class="card card-custom gutter-b">
      <div class="col-md-12">
        <b-form>
          <div class="card-header d-flex justify-content-between">
            <h4 class="title-card-custom">Detail Peraturan</h4>
            <div class="mb-3 float-right">
              <a v-b-toggle href="#example-collapse" @click.prevent
                ><i
                  class="fa fa-chevron-down when-opened"
                  style="width: 16px; height: 8px; color: #000000"
                ></i
              ></a>
              <a v-b-toggle href="#example-collapse" @click.prevent
                ><i
                  class="fa fa-chevron-right when-closed"
                  style="width: 16px; height: 8px; color: #000000"
                ></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <b-collapse id="example-collapse" visible>
              <div class="col">
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-black-75"
                    >Jenis Produk Hukum</label
                  >
                  <div class="col-lg-8 col-xl-8">
                    <label
                      class="col-xl-8 col-lg-8 col-form-label text-black-75"
                      >{{ this.dokumentasi.jenis_perundangan.name }}</label
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-black-75"
                    >Nama Produk Hukum</label
                  >
                  <div class="col-lg-8 col-xl-8">
                    <label
                      class="col-xl-8 col-lg-8 col-form-label text-black-75"
                      >{{ this.dokumentasi.nama }}</label
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-black-75"
                    >Judul</label
                  >
                  <div class="col-lg-8 col-xl-8">
                    <label
                      class="col-xl-8 col-lg-8 col-form-label text-black-75"
                      >{{ this.dokumentasi.judul }}</label
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-black-75"
                    >Tahun</label
                  >
                  <div class="col-lg-8 col-xl-8">
                    <label
                      class="col-xl-8 col-lg-8 col-form-label text-black-75"
                      >{{ this.dokumentasi.tahun }}</label
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-black-75"
                    >Sinopsis</label
                  >
                  <div class="col-lg-8 col-xl-8">
                    <label
                      class="col-xl-8 col-lg-8 col-form-label text-black-75"
                      >{{ this.dokumentasi.sinopsis }}</label
                    >
                  </div>
                </div>
              </div>
            </b-collapse>
          </div>
        </b-form>
      </div>
    </div>
    <div class="card card-custom gutter-b">
      <div class="col-md-12">
        <b-form>
          <div class="card-header d-flex justify-content-between">
            <h4 class="title-card-custom">Unduh Berkas</h4>
            <div class="mb-3 float-right">
              <a v-b-toggle href="#example-collapse2" @click.prevent
                ><i
                  class="fa fa-chevron-down when-opened"
                  style="width: 16px; height: 8px; color: #000000"
                ></i
              ></a>
              <a v-b-toggle href="#example-collapse2" @click.prevent
                ><i
                  class="fa fa-chevron-right when-closed"
                  style="width: 16px; height: 8px; color: #000000"
                ></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <b-collapse id="example-collapse2" visible>
              <div class="col">
                <div class="form-group row">
                  <div class="col-lg-12 col-xl-12">
                    <div v-html="this.path_dokumentasi"></div>
                  </div>
                </div>
              </div>
            </b-collapse>
          </div>
        </b-form>
      </div>
    </div>
    <!--    <div class="card card-custom gutter-b">
      <div class="col-md-12">
        <b-form>
          <div class="card-header d-flex justify-content-between">
            <h4 class="title-card-custom">Dokumentasi Status</h4>
            <div class="mb-3 float-right">
              <a v-b-toggle href="#example-collapse3" @click.prevent
                ><i
                  class="fa fa-chevron-down"
                  style="width: 16px; height: 8px; color: #000000"
                ></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <b-collapse id="example-collapse3" visible>
              <div class="d-flex">
                <div class="flex-grow-1">
                  &lt;!&ndash;begin: Content&ndash;&gt;
                  <div
                    class="d-flex align-items-center flex-wrap justify-content-between"
                  >
                    <div
                      style="font-size:16px"
                      class="flex-grow-1 font-weight-bold py-5 py-lg-2 mr-5"
                    >
                      Peraturan Kementrian Dalam Negeri (Permendagri)
                      Pengelolaan Bank Perkreditan Rakyat Milik Pemerintah
                      Daerah
                    </div>
                    <div class="my-lg-0 my-1">
                      <button class="btn btn-download">
                        Download
                      </button>
                    </div>
                  </div>
                  &lt;!&ndash;end: Content&ndash;&gt;
                </div>
                &lt;!&ndash;end: Info&ndash;&gt;
              </div>
            </b-collapse>
          </div>
        </b-form>
      </div>
    </div>-->
  </div>
</template>

<script>
export default {
  name: "DetailDokumentasi",
  data() {
    return {
      dokumentasi: {
        jenis_perundangan: {
          name: ""
        }
      },
      paths: null,
      path_dokumentasi: null
    };
  },
  mounted() {
    this.dokumentasi = this.$route.params.item;
    this.paths = this.dokumentasi.produk_path.split(";");

    let output = "";
    if (this.paths[0].length > 0) {
      output = `<ul>`;
      this.paths.forEach(path => {
        let fnames = path.split("/");
        let namaFile = fnames[1].substring(8);
        output += `<li><a href="${process.env.VUE_APP_FILE_DOWNLOAD_URL}/${path}">${namaFile}</a></li>`;
      });
      output += "</ul>";
    } else {
      output = "Tidak Ada Dokumen";
    }
    this.path_dokumentasi = output;
    return output;
  }
};
</script>

<style scoped>
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
</style>
