<template>
  <div class="card card-custom gutter-b">
    <div class="card-body">
      <h2 class="d-flex justify-content-center">Tabel Provinsi</h2>
      <div class="row mb-8 mt-8 d-flex justify-content-center">
        <apexchart
          ref="provinsiChart"
          type="pie"
          :options="chartOptions"
          :series="series"
        ></apexchart>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <b-card
            align="left"
            class="mb-10 shadow"
            style="border-radius: 15px; width: 288px; height: 140px; background-color: #D7E3F9"
          >
            <b-card-text>
              <i class="fa fa-map-pin" style="color: #18328D" />
            </b-card-text>
            <b-card-text
              style="font-size: 25px; line-height: 30px; color: #464E5F; font-weight: bold;"
            >
              {{ this.totalProvinsi }}
            </b-card-text>
            <b-card-text
              style="font-weight: 600; font-size: 12px; line-height: 8px; color: #464E5F;"
              >Total Provinsi</b-card-text
            >
          </b-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <b-card
            align="left"
            class="mb-10 shadow"
            style="border-radius: 15px; width: 288px; height: 140px; background-color: #F4F4E1"
          >
            <b-card-text>
              <i class="fa fa-map-pin" style="color: #18328D" />
            </b-card-text>
            <b-card-text
              style="font-size: 25px; line-height: 30px; color: #464E5F; font-weight: bold;"
            >
              {{ this.totalKabKota }}
            </b-card-text>
            <b-card-text
              style="font-weight: 600; font-size: 12px; line-height: 8px; color: #464E5F;"
              >Kabupaten/Kota</b-card-text
            >
          </b-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card card-custom gutter-b card-stretch">
            <!--begin::Body-->
            <div class="card-body">
              <div class="justify-content-between d-flex">
                <div class="d-flex">
                  <b-form
                    class="mr-5 mt-8"
                    style="width: 300px; border-radius: 4px;"
                  >
                    <div
                      class="input-group input-group-solid input-group-sm"
                      style="background: #DAE1EC; height: 38px"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-search"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control form-control-solid form-control-lg"
                        name="email"
                        autocomplete="off"
                        placeholder="Nomenklatur"
                        v-model="search"
                        ref="search"
                        @keyup.enter="searchFilterProvStats()"
                      />
                      <button
                        id="button-addon2"
                        class="btn btn-cari"
                        type="button"
                        @click="searchFilterProvStats"
                      >
                        <span v-if="!loading"
                          ><span class="svg-icon svg-icon-sm">
                            <inline-svg src="/media/svg/custom/search.svg" />
                          </span>
                        </span>
                        <b-spinner medium v-else></b-spinner>
                      </button>
                    </div>
                  </b-form>
                  <b-form class="mr-5">
                    <b-form-group
                      id="input-group-3"
                      label="Badan"
                      label-for="input-3"
                    >
                      <b-form-select
                        id="input-3"
                        v-model="form.badan"
                        style="background-color: #dae1ec"
                        :options="badans"
                        @change="onSelectBadan"
                      >
                        <template #first>
                          <b-form-select-option :value="'0'"
                            >-</b-form-select-option
                          >
                        </template>
                      </b-form-select>
                    </b-form-group>
                  </b-form>
                </div>
                <div class="d-flex mt-7">
                  <b-form class="mr-5">
                    <b-dropdown split text="Cetak" variant="secondary">
                      <b-dropdown-item href="#" @click="exportToExcel"
                        >Excel</b-dropdown-item
                      >
                      <b-dropdown-item href="#" @click="exportToPDF"
                        >PDF</b-dropdown-item
                      >
                    </b-dropdown>
                  </b-form>

                  <b-form>
                    <router-link :to="{ name: 'TambahProvinsi' }">
                      <b-button
                        style="background: #0A65FF; border-radius: 4px; color: #ffffff; font-weight: 600"
                      >
                        <i class="fa fa-plus-circle" style="color: #ffffff;"></i
                        >Tambah data</b-button
                      >
                    </router-link>
                  </b-form>
                </div>
              </div>
              <!--begin::Table-->
              <DxDataGrid
                :ref="dataGridRefKey"
                :data-source="dataSource"
                key-expr="id"
                :show-borders="true"
                :word-wrap-enabled="true"
                :column-auto-width="true"
                :remote-operations="true"
              >
                <!--                <DxFilterRow :visible="true" />-->
                <DxColumn data-field="provinsi.name" caption="Daerah" />
                <DxColumn
                  data-field="bentuk_kelembagaan.name"
                  caption="Bentuk Kelembagaan"
                />
                <DxColumn
                  data-field="nomenklatur"
                  caption="Nomenklatur Kelembagaan"
                />
                <DxColumn data-field="alamat" caption="Alamat" />
                <DxColumn data-field="nama_pimpinan" caption="Nama Pimpinan" />
                <DxColumn data-field="no_telp" caption="No. Telepon" />
                <DxColumn data-field="email" caption="Email" />
                <DxColumn
                  :calculate-cell-value="downloadUrls"
                  data-field="perda_pembentukan"
                  caption="Perda Pembentukan"
                  cell-template="cellTemplatePerda"
                />
                <template #cellTemplatePerda="{ data }">
                  <div v-html="data.value"></div>
                </template>
                <DxColumn
                  :calculate-cell-value="downloadStruktur"
                  data-field="struktur_organisasi"
                  caption="Struktur Organisasi"
                  cell-template="cellTemplateStruktur"
                />
                <template #cellTemplateStruktur="{ data }">
                  <div v-html="data.value"></div>
                </template>
                <DxColumn
                  :calculate-cell-value="downloadPersonil"
                  data-field="nama_personil"
                  caption="Nama Personil"
                  cell-template="cellTemplatePersonil"
                />
                <template #cellTemplatePersonil="{ data }">
                  <div v-html="data.value"></div>
                </template>
                <DxColumn data-field="keterangan" caption="Keterangan" />
                <DxColumn type="buttons" caption="Aksi" :fixed="true">
                  <!--                  <DxButton
                    icon="fa fa-edit"
                    hint="Ubah"
                    :onClick="onClickEdit"
                  />-->
                  <DxButton
                    icon="fa fa-trash"
                    hint="Hapus"
                    :onClick="onClickDelete"
                  />
                  <DxButton
                    icon="fa fa-plus"
                    hint="Tambah Kabupaten/Kota"
                    :onClick="onClickTambah"
                  />
                </DxColumn>
                <DxPaging :page-size="10" />
                <DxPager
                  :visible="true"
                  :show-page-size-selector="showPageSizeSelector"
                  :allowed-page-sizes="pageSizes"
                />
              </DxDataGrid>
            </div>

            <!--   Modal Edit Kelembagaan Provinsi  -->
            <!--            <b-modal
              v-model="showModalEdit"
              hide-footer
              centered
              id="modal-edit-advokasi"
            >
              <template #modal-header="{ close }">
                <h5 class="title-card-custom">Edit Advokasi</h5>
              </template>
              <b-form @submit.stop.prevent="onSubmit">
                <b-form-group
                  id="kasus_hukum-group"
                  label-for="kasus_hukum"
                  label="Kasus"
                >
                  <b-form-input
                    id="kasus_hukum"
                    name="kasus_hukum"
                    placeholder="Kasus"
                    v-model="form.kasus_hukum"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="materi-group"
                  label-for="materi"
                  label="Materi"
                >
                  <b-form-input
                    id="materi"
                    name="materi"
                    placeholder="Materi"
                    v-model="form.materi"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="perkara-group"
                  label-for="perkara"
                  label="Perkara"
                >
                  <b-form-input
                    id="perkara"
                    name="perkara"
                    placeholder="Perkara"
                    v-model="form.perkara"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="directorate-group"
                  label-for="select-directorate"
                  label="Direktorat"
                >
                  <b-form-select
                    id="select-directorate"
                    v-model="form.direktorat"
                    :options="direktorats"
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >&#45;&#45; Pilih Salah Satu &#45;&#45;</b-form-select-option
                      >
                    </template>
                  </b-form-select>
                </b-form-group>
                <hr />
                <div class="d-flex justify-content-center">
                  <button class="btn btn-delete mr-8" @click="resetForm()">
                    Kembali
                  </button>
                  <button type="submit" class="btn btn-save">Simpan</button>
                </div>
              </b-form>
            </b-modal>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  DxDataGrid,
  DxColumn,
  DxButton,
  DxPaging,
  DxPager
} from "devextreme-vue/data-grid";
import "devextreme/dist/css/dx.light.css";
import CustomStore from "devextreme/data/custom_store";
import { handleErrors, isNotEmpty } from "@/core/appUtil/util";
import Swal from "sweetalert2";
import { saveAs } from "file-saver";
import { exportDataGrid } from "devextreme/excel_exporter";
import { exportDataGrid as exportDataGridToPdf } from "devextreme/pdf_exporter";
import { Workbook } from "exceljs";
import { jsPDF } from "jspdf";
import "jspdf-autotable";

let searchQ = "";
let badanQ = "0";

const store = new CustomStore({
  key: "id",
  load: function(loadOptions) {
    let params = "?";
    [
      "skip",
      "take",
      "requireTotalCount",
      "requireGroupCount",
      "sort",
      // "filter",
      "totalSummary",
      "group",
      "groupSummary"
    ].forEach(function(i) {
      if (i in loadOptions && isNotEmpty(loadOptions[i])) {
        params += `${i}=${JSON.stringify(loadOptions[i])}&`;
      }
    });
    params = params.slice(0, -1);

    // search by name if exists
    if (searchQ.length > 0) {
      params += "&nomenklatur=" + searchQ;
    }

    if (badanQ !== "0") {
      params += "&bentuk_kelembagaan_id=" + badanQ;
    }
    if (
      Array.isArray(loadOptions["filter"]) &&
      loadOptions["filter"].length > 0 &&
      loadOptions["filter"][0] === "name"
    ) {
      params += "&nama=" + loadOptions["filter"][2];
    }
    return fetch(
      process.env.VUE_APP_URL_LOCAL + `/kelembagaan-provinsi${params}`
    )
      .then(response => response.json())
      .then(data => {
        return {
          data: data.data,
          totalCount: data.totalCount,
          summary: data.summary,
          groupCount: data.groupCount
        };
      })
      .catch(() => {
        throw "Data Loading Error";
      });
  }
});
const dataGridRefKey = "advocacy-data-grid";
const token = localStorage.getItem("token");
const swalDelete = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-delete",
    cancelButton: "btn btn-cancel"
  },
  buttonsStyling: false
});
const swalSuccess = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-save",
    cancelButton: "btn btn-delete"
  },
  buttonsStyling: false
});

export default {
  name: "KelembagaanProvinsi",
  components: {
    DxDataGrid,
    DxColumn,
    DxButton,
    DxPaging,
    DxPager
  },
  data() {
    return {
      showModalEdit: false,
      dataSource: store,
      dataGridRefKey,
      showPageSizeSelector: true,
      pageSizes: [5, 10, 20],
      form: {
        id: null,
        pilihan: null,
        badan: null,
        keterangan: null,
        kasus_hukum: "",
        materi: "",
        perkara: "",
        direktorat: null
      },
      badans: [],
      statsProvinsi: [],
      totalProvinsi: 0,
      totalKabKota: 0,
      loading: false,
      search: "",
      series: [],
      chartOptions: {
        chart: {
          width: 480,
          type: "pie"
        },
        labels: [],
        colors: [
          "#7CB5EC",
          "#434348",
          "#90ED7D",
          "#F7A35C",
          "#8085E9",
          "#F15C80",
          "#2B908F",
          "#E4D354"
        ],
        legend: {
          position: "bottom"
        },
        plotOptions: {
          pie: {
            startAngle: 0,
            endAngle: 360,
            expandOnClick: true,
            distributed: true
          }
        }
      }
    };
  },
  mounted() {
    fetch(
      encodeURI(
        process.env.VUE_APP_URL_LOCAL + `/master/bentuk-kelembagaan?take=100`
      ),
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "bearer " + token
        }
      }
    )
      .then(handleErrors)
      .then(response => response.json())
      .then(items => {
        const detailMenu = items.data;
        let selectedOptions;
        selectedOptions = [];
        detailMenu.map(i => {
          return selectedOptions.push({
            text: i.name,
            value: i.id
          });
        });
        this.badans = selectedOptions;
      });
    fetch(
      encodeURI(
        process.env.VUE_APP_URL_LOCAL + `/kelembagaan-provinsi?take=100`
      ),
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "bearer " + token
        }
      }
    )
      .then(handleErrors)
      .then(response => response.json())
      .then(items => {
        this.totalProvinsi = items.totalCount;
      });

    fetch(
      encodeURI(process.env.VUE_APP_URL_LOCAL + `/kelembagaan-kota?take=1000`),
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "bearer " + token
        }
      }
    )
      .then(handleErrors)
      .then(response => response.json())
      .then(items => {
        this.totalKabKota = items.totalCount;
      });
    this.getProvinsiStats();
  },
  computed: {
    dataGrid: function() {
      return this.$refs[dataGridRefKey].instance;
    }
  },
  methods: {
    getProvinsiStats() {
      fetch(
        encodeURI(
          process.env.VUE_APP_URL_LOCAL + `/kelembagaan-provinsi/stats`
        ),
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            Authorization: "bearer " + token
          }
        }
      )
        .then(handleErrors)
        .then(response => response.json())
        .then(items => {
          this.statsProvinsi = items.data;
          let selectedOptions;
          selectedOptions = [];
          let cats = [];
          let dats = [];
          this.statsProvinsi.map(i => {
            cats.push(i.name);
            dats.push(i.total);
            return selectedOptions.push({
              name: i.name,
              total: i.total
            });
          });
          this.series = dats;

          this.chartOptions = {
            ...this.chartOptions,
            ...{
              labels: cats
            }
          };
        });
    },
    refreshData() {
      this.dataGrid.refresh();
    },
    downloadUrls(rowData) {
      let paths = rowData.perda_pembentukan_path.split(";");
      let output = "";
      if (paths[0].length > 0) {
        output = `${rowData.perda_pembentukan}<br /><br /><ul>`;
        paths.forEach(path => {
          let fnames = path.split("/");
          let namaFile = fnames[1].substring(8);
          output += `<li><a href="${process.env.VUE_APP_FILE_DOWNLOAD_URL}/${path}">${namaFile}</a></li>`;
        });
        output += "</ul>";
      } else {
        output = `${rowData.perda_pembentukan}`;
      }
      return output;
    },
    downloadStruktur(rowData) {
      let paths = rowData.struktur_organisasi_path.split(";");
      let output = "";
      if (paths[0].length > 0) {
        output = `${rowData.struktur_organisasi}<br /><br /><ul>`;
        paths.forEach(path => {
          let fnames = path.split("/");
          let namaFile = fnames[1].substring(8);
          output += `<li><a href="${process.env.VUE_APP_FILE_DOWNLOAD_URL}/${path}">${namaFile}</a></li>`;
        });
        output += "</ul>";
      } else {
        output = `${rowData.struktur_organisasi}`;
      }
      return output;
    },
    downloadPersonil(rowData) {
      let paths = rowData.nama_personil_path.split(";");
      let output = "";
      if (paths[0].length > 0) {
        output = `${rowData.nama_personil}<br /><br /><ul>`;
        paths.forEach(path => {
          let fnames = path.split("/");
          let namaFile = fnames[1].substring(8);
          output += `<li><a href="${process.env.VUE_APP_FILE_DOWNLOAD_URL}/${path}">${namaFile}</a></li>`;
        });
        output += "</ul>";
      } else {
        output = `${rowData.nama_personil}`;
      }
      return output;
    },
    exportToExcel() {
      const workbook = new Workbook();
      const worksheet = workbook.addWorksheet("Statistik");

      exportDataGrid({
        component: this.dataGrid,
        worksheet: worksheet,
        autoFilterEnabled: true
      }).then(() => {
        workbook.xlsx.writeBuffer().then(buffer => {
          saveAs(
            new Blob([buffer], { type: "application/octet-stream" }),
            "Statistik.xlsx"
          );
        });
      });
    },
    exportToPDF() {
      const options = {
        columnWidth: "wrap",
        margin: { horizontal: 5 },
        bodyStyles: { valign: "top" },
        styles: { overflow: "linebreak", overflowColumns: true },
        headerStyles: {
          fillColor: [51, 122, 183],
          textColor: [255],
          halign: "center",
          valign: "middle"
        },
        theme: "grid"
      };
      const doc = new jsPDF("l", "pt", "a4");
      exportDataGridToPdf({
        jsPDFDocument: doc,
        autoTableOptions: options,
        component: this.dataGrid
      }).then(() => {
        doc.save("Statistik.pdf");
      });
    },
    onSelectBadan() {
      badanQ = this.form.badan;
      this.refreshData();
    },
    async searchFilterProvStats() {
      searchQ = this.search;
      let context = this;
      this.loading = true;
      this.notFound = false;
      this.show = false;
      await this.$store
        .dispatch("searchFilterProvStats", this.search)
        .then(res => {
          console.log(res);
          this.refreshData();
          this.loading = false;
        })
        .catch(async function(err) {
          context.loading = false;
          await Swal.fire({
            title: err.message,
            text: "",
            icon: "warning",
            confirmButtonColor: "#063A69",
            confirmButtonText: "Tutup",
            cancelButtonText: false
          });
        });
    },
    onSubmit() {
      let id = this.form.id;
      let data = {
        direktorat_id: this.form.direktorat,
        kasus_hukum: this.form.kasus_hukum,
        materi: this.form.materi,
        perkara: this.form.perkara
      };

      swalSuccess.fire({
        title: "Kirim Berkas",
        text: "Pastikan kembali data sudah sesuai.",
        icon: "warning",
        iconHtml: "?",
        showCancelButton: true,
        reverseButtons: true,
        confirmButtonColor: "#18328D",
        confirmButtonText: "Simpan",
        cancelButtonText: "Batal",
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return fetch(
            encodeURI(
              process.env.VUE_APP_URL_LOCAL + `/kelembagaan-provinsi/${id}`
            ),
            {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                Authorization: "bearer " + token
              },
              body: JSON.stringify(data)
            }
          )
            .then(handleErrors)
            .then(response => response.json())
            .then(data => {
              Swal.fire({
                position: "center",
                icon: data.status,
                title: "Data berhasil diubah",
                showConfirmButton: false,
                timer: 1500
              });
              this.resetForm();
              this.refreshData();
              this.getProvinsiStats();
            })
            .catch(error => {
              console.log(error);
              Swal.fire({
                title: "Kesalahan",
                text: "Gagal mengubah data",
                icon: "error",
                showCancelButton: false,
                confirmButtonText: "Kembali",
                confirmButtonColor: "#18328D"
              });
            });
        },
        allowOutsideClick: () => !Swal.isLoading()
      });
    },
    resetForm() {
      this.form = {
        kasus_hukum: "",
        materi: "",
        perkara: "",
        direktorat: null
      };

      this.$nextTick(() => {
        this.$bvModal.hide("modal-edit-advokasi");
      });
    },
    onClickDelete(e) {
      let id = e.row.data.id;
      swalDelete.fire({
        text: "Yakin ingin hapus data?",
        icon: "warning",
        iconHtml: "?",
        showCancelButton: true,
        confirmButtonText: "Hapus",
        cancelButtonText: "Batal",
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return fetch(
            encodeURI(
              process.env.VUE_APP_URL_LOCAL + `/kelembagaan-provinsi/${id}`
            ),
            {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                Authorization: "bearer " + token
              }
            }
          )
            .then(handleErrors)
            .then(response => response.json())
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.log(error);
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Data berhasil dihapus",
                showConfirmButton: false,
                timer: 1500
              });
              this.refreshData();
            });
        },
        allowOutsideClick: () => !Swal.isLoading()
      });
    },
    onClickTambah(e) {
      const data = e.row.data;
      this.$router.push({ name: "KelembagaanKabKota", params: { data } });
    },
    onClickEdit(e) {
      const data = e.row.data;
      this.form.kasus_hukum = data.kasus_hukum;
      this.form.materi = data.materi;
      this.form.perkara = data.perkara;
      this.form.direktorat = data.direktorat_id;
      this.form.id = data.id;
      this.setDataModal = data;
      this.$root.$emit("bv::show::modal", "modal-edit-advokasi", e.row.data);
    }
  }
};
</script>

<style>
#grid-container {
  height: 440px;
}
.width-custom {
  width: 420px;
  height: 280px;
  display: flex;
  justify-content: center;
}
.title-card {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
</style>
