<template>
  <div class="card card-custom gutter-b">
    <div class="col-md-12">
      <b-form>
        <div class="card-header">
          <h4
            style="font-weight: bold; font-size: 18px; line-height: 27px; color: #464E5F;"
          >
            Notifikasi
          </h4>
        </div>
        <div class="card-body">
          <template v-for="(item, i) in list1">
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6" v-bind:key="i">
              <!--begin::Text-->
              <div class="d-flex flex-column">
                <a
                  href="#"
                  class="text-dark mb-1 font-size-lg font-weight-bold"
                >
                  {{ item.title }}
                </a>
                <span class="text-muted">
                  {{ item.desc }}
                </span>
                <div class="separator separator-solid mt-8 mb-5"></div>
              </div>
              <!--end::Text-->
            </div>
            <!--end::Item-->
          </template>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Notifikasi",
  data() {
    return {
      list1: [
        {
          title:
            "RUU tentang Perubahan Atas Undang-Undang Nomor 21 Tahun 2001 tentang Otonomi Khusus Bagi Provinsi Papua",
          desc: "23 Juli 2021"
        },
        {
          title:
            "RUU tentang Perubahan Atas Undang-Undang Nomor 21 Tahun 2001 tentang Otonomi Khusus Bagi Provinsi Papua",
          desc: "23 Juli 2021"
        },
        {
          title:
            "RUU tentang Perubahan Atas Undang-Undang Nomor 21 Tahun 2001 tentang Otonomi Khusus Bagi Provinsi Papua",
          desc: "23 Juli 2021"
        },
        {
          title:
            "RUU tentang Perubahan Atas Undang-Undang Nomor 21 Tahun 2001 tentang Otonomi Khusus Bagi Provinsi Papua",
          desc: "23 Juli 2021"
        }
      ]
    };
  }
};
</script>
