<template>
  <ul class="menu-nav">
    <router-link
      to="/dashboard"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <span class="menu-text"> Beranda </span>
        </a>
      </li>
    </router-link>

    <router-link
      :to="{ name: 'TambahAdvokasi' }"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
        v-if="currentUser"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <span class="menu-text"> Advokasi </span>
        </a>
      </li>
    </router-link>

    <router-link
      :to="{ name: 'TambahDokumentasi' }"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
        v-if="currentUser"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <span class="menu-text"> Dokumentasi </span>
        </a>
      </li>
    </router-link>

    <router-link
      to="/tabel"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
        v-if="currentUser"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <span class="menu-text"> Perundang-undangan </span>
        </a>
      </li>
    </router-link>

    <router-link
      :to="{ name: 'KelembagaanProvinsi' }"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
        v-if="currentUser"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <span class="menu-text"> Kelembagaan Statistik </span>
        </a>
      </li>
    </router-link>

    <li
      aria-haspopup="true"
      data-menu-toggle="click"
      class="menu-item menu-item-submenu menu-item-open-dropdown"
      v-bind:class="{ 'menu-item-active': hasActiveChildren('/vue-bootstrap') }"
      v-if="currentUser && showSettings"
    >
      <a href="#" class="menu-link menu-toggle">
        <span class="menu-text"> Pengaturan </span>
      </a>
      <div class="menu-submenu menu-submenu-fixed">
        <div class="menu-subnav megamenu" style="max-width: 300px">
          <ul class="menu-content">
            <li class="menu-item">
              <ul class="menu-inner">
                <router-link
                  :to="{ name: 'role' }"
                  v-slot="{ href, navigate, isActive, isExactActive }"
                >
                  <li
                    aria-haspopup="true"
                    class="menu-item mt-5"
                    :class="[
                      isActive && 'menu-item-active',
                      isExactActive && 'menu-item-active'
                    ]"
                  >
                    <a :href="href" class="menu-link" @click="navigate">
                      <i class="menu-bullet menu-bullet-dot"><span></span></i>
                      <span class="menu-text"> User Management </span>
                    </a>
                  </li>
                </router-link>

                <router-link
                  :to="{ name: 'Pengaturan' }"
                  v-slot="{ href, navigate, isActive, isExactActive }"
                >
                  <li
                    aria-haspopup="true"
                    class="menu-item"
                    :class="[
                      isActive && 'menu-item-active',
                      isExactActive && 'menu-item-active'
                    ]"
                  >
                    <a :href="href" class="menu-link" @click="navigate">
                      <i class="menu-bullet menu-bullet-dot"><span></span></i>
                      <span class="menu-text"> Master Data </span>
                    </a>
                  </li>
                </router-link>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: "KTMenu",
  methods: {
    hasActiveChildren(match) {
      return this.$route["path"].indexOf(match) !== -1;
    }
  },
  computed: {
    showSettings() {
      return this.$store.state.token.is_superadmin;
    },
    currentUser() {
      return this.$store.state.auth.user;
    }
  }
};
</script>
